.banner{
    position: relative;
}
.banner img{
    max-width: 100%
}
.banner .welcome{
    position: absolute;
    left: 0px;
    bottom: 165px;
}
.page{
    background-color: rgb(210, 192, 0);
}
#disclaimer{
    position: absolute;
    left: 650px;
    top: 850px;
}
#picture2{
    position: absolute;
    left: 300px;
    top: 433px;
}